@charset "UTF-8";
//공통
@import 'pages/_com';
@import 'pages/_gameresult';
@import 'pages/_contact';
@import 'pages/_home';
@import 'pages/_statistics';
@import 'pages/_plan-upgrade';
@import 'pages/_aiRecommendation';
@import 'pages/_terms';
@import 'pages/_privacy-policy';
@import 'pages/_myWinningNumber';
@import 'pages/_warningPopup';