@charset "UTF-8";

.section-area{
    margin-top:2rem;
    .section-header{

    }
    .section-body{
        margin-top:12px;
    }

    &+.section-area{
        margin-top:4rem;
    }
}

.fixed-bottom{
    .btn-area{
        margin-top:0;
        padding:20px;
    }
    @media (max-width: 768px) {
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        z-index: 500;

        @include themeProperty(background-color,color-bg-secondary);
    }
}