@charset "UTF-8";
.checkbox{
    &-area{
        input{
            &:checked{
                &+label{
                    &::after{
                        position: absolute;
                        content:'';
                        display: block;
                        top:0;
                        left:0;
                        width:3rem;
                        height:3rem;
                        border-radius: 50%;
                        border: 3px solid transparent;
                        box-sizing: border-box;
                        @include themeProperty(border-color, color-border-primary);
                    }
                    
                }
            }
            &:disabled{
                &+label{

                    @include themeProperty(background-color, color-ball-disabled);
                    &::after{
                        @include themeProperty(background-color, color-ball-disabled);
                    }
                    
                }
            }
        }
        label{
            position:relative;
            display: block;
            width:100%;
            height:100%;
            border-radius: 50%;
            text-align: center;
            @include text-B1-Regular(color-text-primary,!important);
            @include themeProperty(color, color-text-primary, !important);
            line-height: 3rem;
        }
        &.ball-645{
            &.disabled{
                pointer-events: none;

                label{
                    @include themeProperty(background-color, color-ball-disabled);
                    &::after{
                        @include themeProperty(background-color, color-ball-disabled);
                    }
                    
                }
            }
        }
    }
}
