@charset "UTF-8";

.list{
    &-basic{
        width:auto;
        display: flex;
        justify-content: center;
    }
}
.recommend-list{
    max-height:360px;
    overflow-y: auto;
    @media (max-width: 768px) {
        max-height:160px;
    }
}