@charset "UTF-8";
.nums{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap:20px;
    >.num-win{
        margin-top:2rem;
        >.title-medium{
            text-align: center;
        }
        >.ball-area{
            margin-top:10px;
        }
    }
    >.num-bonus{
        position:relative;
        margin-top:2rem;

        >.title-medium{
            text-align: center;
        }
        >.ball-area{
            position:relative;
            padding:0 2rem;
            margin-top:10px;
        }
        &::after{
            position: absolute;
            display: block;
            left:0rem;
            top: 3.5rem;
            content:'+';
            transform: translateX(-50%);
            @include text-H2-Bold(color-text-secondary)
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;

        >.num-bonus{
            &::after{
                left:50%;
                top: -4rem;
                content:'+';
                transform: translateX(-50%);
                @include text-H2-Bold(color-text-secondary)
            }
        }
    }
}